@page "/engineering"

<h3>Engineering</h3>

@code {

}

<div id="calculator-eng">
    <!-- Screen and clear key -->
    <div class="top">

        <div class="screen"></div>
    </div>

    <div class="keys">

        <span class="empty"></span>
        <span class="empty"></span>
        <span class="empty"></span>
        <span class="empty"></span>
        <span class="empty"></span>

        <span class="operator">MC</span>
        <span class="operator">MR</span>
        <span class="operator">MS</span>
        <span class="operator">M+</span>
        <span class="operator right-key">M-</span>

        <span class="empty"></span>
        <span class="operator">Inv</span>
        <span class="operator">ln</span>
        <span class="operator">(</span>
        <span class="operator">)</span>

        <span class="operator">←</span>
        <span class="operator clear">CE</span>
        <span class="operator clear">C</span>
        <span class="operator">±</span>
        <span class="operator right-key">√</span>

        <span class="operator">Int</span>
        <span class="operator">sinh</span>
        <span class="operator">sin</span>
        <span class="operator">x²</span>
        <span class="operator">n!</span>

        <span>7</span>
        <span>8</span>
        <span>9</span>
        <span class="operator">/</span>
        <span class="operator right-key">%</span>

        <span class="operator">dms</span>
        <span class="operator">cosh</span>
        <span class="operator">cos</span>
        <span class="operator">xʸ</span>
        <span class="operator">ʸ√x</span>

        <span>4</span>
        <span>5</span>
        <span>6</span>
        <span class="operator">*</span>
        <span class="operator right-key">1/x</span>

        <span class="operator">&#960</span>
        <span class="operator">tanh</span>
        <span class="operator">tan</span>
        <span class="operator">x³</span>
        <span class="operator">&#x221b</span>

        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span class="operator">-</span>
        <span class="operator right-key">+</span>

        <span class="operator">F-E</span>
        <span class="operator">Exp</span>
        <span class="operator">Mod</span>
        <span class="operator">log</span>
        <span class="operator">10&#739</span>

        <span class="doublehor">0</span>
        <span>.</span>
        <span class="eval doublehor right-key">=</span>
    </div>
</div>